@media screen and (max-width: 800px){
    .navbarDesktop {
        display: none;
    }

    .hamburgerNav {
        display: flex;
    }

    .twoColumnContainer {
        display: block

    }

    .headerImg {
        padding-right: 0%;
        padding-top: 10%;
    }
}