@media screen and (max-width: 800px){

    .navbarContainer {
        padding: 0 4vw; /* X Y Z */
    }

    .twoColumnContainer {
        display: block

    }

    img {
        padding-top: 5vh;
        width: 100%;
        height: auto;
    }
}